<div class="page-container">
  <app-hero title="About Us" bgImage="/assets/children-playing.jpg"> </app-hero>
  <app-nav-bar></app-nav-bar>
  <section class="about-section">
    <div class="container">
      <h2 class="section-title">BACK STORY</h2>
      <div class="content-wrapper">
        <p>
          The idea of the PEARLS OF MY LYFE (POML) website came about when a
          staff member's cousin passed away unexpectedly at the early age of 50.
          The staff member always thought she would learn how to put together a
          funeral from her- now deceased- cousin because in their family when
          someone passed away, everyone gathered with old obituaries, pictures
          and other documents to put in the obituary and program for the
          funeral. Well, at that time, most of her family was deceased. Her
          cousin unexpectedly passed, and she was devastated having no older
          relatives to consult with about the process.
        </p>

        <p>
          In addition, her cousin's adult children looked to her for guidance on
          how to proceed. All she could do was pray for help and try to recall
          the times when, as a young girl, she sat at someone's kitchen table
          with family, listening to conversations and trying to recall the
          process. This was heartbreaking and emotionally draining. The funeral
          parlors could only be of little assistance. The actual dates, names,
          times, sibling information, etc. must come from the family. She
          completed the task hoping all the information was correct. She helped
          the adult children get through their season of bereavement and then
          said to herself…There must be a better way to handle these kinds of
          situations. How can I make this process easier?… After 12 months of
          intense development and testing PEARLS OF MY LYFE was created to make
          that processes seamless and it is now available to everyone. Sometimes
          we don't have the words when we are in front of loved ones. Some
          relationships are estranged or it's hard to communicate; but you still
          care and have life lessons, moments and valuable instructions to give
          them. Now, you can take your time, think about what this life and your
          family and friends have meant to you; and leave it all in your PEARLS
          OF MY LIFE account.
        </p>
      </div>
    </div>
  </section>

  <section class="about-section">
    <div class="container">
      <h2 class="section-title">PURPOSE OF AUTO-OBITUARY</h2>
      <div class="content-wrapper">
        <p>
          The creator of PEARLS OF MY LYFE witnessed many funerals where
          information pertaining to the deceased was incorrectly given or
          incorrectly printed on the funeral program. Have you seen this? For
          generations people have relied on family obituaries to obtain a
          deceased member's date of birth, correct last name, sibling
          information, etc. These personal data points are essential to families
          who wish to maintain or research historic ancestral content.
          Information you place in your POML account help families maintain
          accurate obituary records for your funeral program.
        </p>
      </div>
    </div>
  </section>

  <section class="about-section">
    <div class="container">
      <h2 class="section-title">LEGACIES RE-IMAGINED</h2>
      <div class="content-wrapper">
        <p>
          If you have lived a life, you have something great to leave your
          family. PEARLS OF MY LYFE has re-imagined how you can leave a legacy
          for the family. A legacy is not just about money and assets. With POML
          you can capture cherished and meaningful moments you've experienced
          throughout your life. There may be experiences you wish to share and
          leave for estranged family members. No one can tell a story better
          than the one who lived it. Individuals are best positioned to explain
          their own feelings; lessons learned from experiences; Ex: times spent
          in the old neighborhood with grandparents and friends; (or) the point
          at which they begin to feel like responsible adults;(or) how you
          managed tough times (or) family members who instilled value in you;
          (or) other life experiences and insights. These are all “pearls” that
          each one of us possess and they should not be tossed away or forgotten
          upon our graduation into eternity.
        </p>

        <p>
          Have you ever longed to hear the voice or face of a loved one who has
          graduated into eternity? With PEARLS OF MY LYFE, you can see a family
          member talking to you about the things they cherished the most in
          their life, although they have passed away; then you can leave the
          same type of legacy for your loved ones.
        </p>
        <p>
          Think about that… When your loved one lived, they thought enough of
          you to want to leave a personal memory, wisdom or light to a path for
          you to have as a guide or comfort- SMILE. With that, your life can be
          brighter. Isn't that how it is supposed to be?
        </p>
        <p>
          At times, articulating our thoughts can be challenging when engaging
          with loved ones. Nevertheless, individuals often possess the desire to
          impart their life lessons and provide valuable guidance. Take your
          time and consider your experiences in life and the impact of
          relationships with family and friends then record it all in your
          personal PEARLS OF MY LYFE account. Now one except your “key holders”
          will be able to access this information. You can also select what you
          want to have included for your funeral program.
        </p>
        <p>
          PEARLS OF MY LYFE has re-imagined the process and created a great way
          for you to leave the best of you. Use this space to reminisce on key
          moments and discuss personal standards, morals and ideals to create an
          invaluable legacy. Breathe easily and smile, your life is not in vain.
          It has purpose -SMILE AGAIN
        </p>
      </div>

      <div class="cta-wrapper">
        <button class="gradient-orange" (click)="scrollToTop()">
          TO START INPUTTING YOUR BASIC OBITUARY INFO FOR FREE
        </button>
      </div>
    </div>
  </section>

  <section class="testimonial-section">
    <div class="testimonial-header">
      <h2>Testimonial Videos</h2>
    </div>

    <div class="founder-container">
      <div class="container">
        <div class="founder-content">
          <div class="founder-text">
            <h3>Pearls of My Lyfe Founder</h3>
            <p>
              Wendy M. Fuller-Sykes, MHS is a graduate of Lincoln University
              with a master's in human services. She has served various
              communities in various capacities for over 20 years. Wendy is an
              entrepreneur, a result- oriented leader and community change agent
              helping to increase the quality of life for many. In addition to
              managing multi-million dollar grants and company budgets; she has
              over 12 years as the owner of OACANP, a company with NJ state
              certified Navigators who focus on assisting the uninsured
              population with understanding and choosing and healthcare
              insurance plan without cost. Wendy has also been a change agent
              serving as the Director of Community Service in New Jersey leading
              programs in community's health, recreation, cultural affairs,
              seniors and emergency food pantry services, and more.
            </p>
          </div>
          <div class="founder-image">
            <img
              src="assets/founder_Pol.webp"
              alt="Founder Wendy M. Fuller-Sykes"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="additional-info">
      <div class="container">
        <div class="info-content">
          <div class="info-image">
            <img src="assets/founder_pol_2.webp" alt="Additional Information" />
          </div>
          <div class="info-text">
            <p>
              Before becoming a Director of Community Services, she performed
              duties as Sr. Program Coordinator for a federally funded substance
              abuse and mental health programs, child care, food pantries, soup
              kitchens, drug and alcohol treatment and preventions programs,
              educational workshops, back to school give always, free turkey and
              toy distributions, free healthcare insurance access assistance and
              more. Additional accomplishments include securing a BC/BS grant
              award to teach computer basics to senior citizens; she secured
              LISC/NFL Grassroots funding to rehabilitate football fields and
              facilities; she was a Pi Gamma Mu Honor Society Inductee; a NJ
              Primary Care Association Honoree; a member of the National
              Associate for the Education of Young Children (NAEYC ), A member
              of the NJRPA an more.
            </p>
          </div>
        </div>
        <p class="info-footer">
          Wendy has an aptitude for successful community collaborations that
          promote educational and entertaining ways of life. She says “ life is
          very simple, things are either right or wrong”. She finds joy in
          working and caring for people; and has recently turned her encounters
          and experiences into a venue that highlights lives and allows every
          family a chance to leave a legacy.
        </p>
        <p class="info-footer">
          Pearls Of My Lyfe is an “outside of the box” type of service for every
          individual and family. It stores accurate life data for your obituary
          and highlights moments in everyone's profoundly meaningful lives as a
          useful record for those whose lives you've touched.
        </p>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
