.sidebar {
    position: fixed; /* Makes the element stay fixed in place */
    top: 0; /* Aligns to the top of the viewport */
    left: 0;
    min-width: 300px;
    min-height: fit-content;
    height: 100vh;
    // background: #385723;
    transition: all 0.3s ease-in-out;
    background-color: #14c44d;
    background-image: linear-gradient(0deg, #14c44d 0%, #848627 50%, #20674e 100%);

}
.sidebar.active {
    width: 0;
    overflow: hidden;
}
.main-content {
    margin-left: 300px;
    transition: all 0.3s ease-in-out;
}
.sidebar.active ~ .main-content {
    margin-left: 0;
}