<form
  [formGroup]="forgetPasswordForm"
  class="forgetPasswordForm"
  (submit)="submit()"
>
  <div class="my-2">
    <label for="email" class="col-form-label text-white"
      >Forget Password?</label
    >
    <input
      type="email"
      placeholder="Please enter your email"
      class="form-control"
      id="email"
      formControlName="email"
    />
  </div>

  <div class="my-3">
    <button type="submit" class="btn secondary-button w-100">
      Send Recovery Email
    </button>
  </div>

  <div class="mt-4 text-end px-3">
    <a class="text-white text-decoration-none" [routerLink]="['/auth/login']"
      >Sign in</a
    >
  </div>
</form>
