.sideNavBar {
  .tabs {
    // height: fit-content;
    height: calc(100vh - 135px);
    overflow-y: hidden;

    &:hover {
      overflow-y: auto;
    }

    /* Scrollbar styling */
    &::-webkit-scrollbar {
      width: 8px;
      /* Scrollbar width */
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      /* Track color */
      border-radius: 8px;
      /* Rounded corners for track */
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      /* Thumb color */
      border-radius: 8px;
      /* Rounded corners for thumb */
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
      /* Thumb color on hover */
    }

    .nav {
      .nav-item {
        // background-color: orange;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
        font-weight: 400;

        a {
          color: #fff;
        }

        .active {
          // background: #FFC000;
          background-color: #FBAB7E;
          background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
          color: black !important;
          font-weight: 600;
          // img{
          //   content: url('../../../assets/icons/side-bar/active-dashboard.svg');
          // }
        }
      }

      .nav-item :hover {
        // background: #FFC000;
        // color: black !important;
        background-color: #FBAB7E;
        background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
        color: black !important;
        font-weight: 600;
        // img{
        //   content: url('../../../assets/icons/side-bar/active-dashboard.svg');
        // }
      }

      a {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }

  .logo {
    width: 120px;
    cursor: pointer;

    // padding: 8px 64px;
    // border-radius: 64px;
    // background-color: #fff;
    img {
      width: 100%;
    }
  }
}