<div class="modal-header">
  <h4 class="modal-title">{{ data.name }} Password</h4>
  <button type="button" class="btn" aria-label="Close" (click)="closeModal()">
    <img src="../../../../assets/icons/form/close-lg.svg" />
  </button>
</div>

<form [formGroup]="passwordForm" (submit)="submit()">
  <div class="modal-body manage-note">
    <div class="mb-3">
      <label for="domain_name" class="col-form-label">Domain Name</label>
      <input
        type="text"
        placeholder="Domain Name"
        class="form-control"
        [class.is-invalid]="
          (passwordForm.get('domain_name')?.touched ||
            passwordForm.get('domain_name')?.dirty) &&
          passwordForm.get('domain_name')?.invalid
        "
        id="domain_name"
        formControlName="domain_name"
      />
      <div
        class="invalid-feedback"
        *ngIf="passwordForm.get('domain_name')?.errors?.['required'] && (passwordForm.get('domain_name')?.touched || passwordForm.get('domain_name')?.dirty)"
      >
        Domain Name is required
      </div>
      <div
        class="invalid-feedback"
        *ngIf="passwordForm.get('domain_name')?.errors?.['maxlength'] && (passwordForm.get('domain_name')?.touched || passwordForm.get('domain_name')?.dirty)"
      >
        Domain Name cannot be more than 50 characters
      </div>
    </div>
    <div class="mb-3">
      <label for="domain_url" class="col-form-label">Website Url</label>
      <input
        type="text"
        placeholder="Website Url"
        class="form-control"
        [class.is-invalid]="
          (passwordForm.get('domain_url')?.touched ||
            passwordForm.get('domain_url')?.dirty) &&
          passwordForm.get('domain_url')?.invalid
        "
        id="domain_url"
        formControlName="domain_url"
      />
      <div
        class="invalid-feedback"
        *ngIf="passwordForm.get('domain_url')?.errors?.['required'] && (passwordForm.get('domain_url')?.touched || passwordForm.get('domain_url')?.dirty)"
      >
        Website URL is required
      </div>
    </div>
    <div class="mb-3">
      <label for="username" class="col-form-label">Username</label>
      <input
        type="text"
        placeholder="Username"
        class="form-control"
        [class.is-invalid]="
          (passwordForm.get('username')?.touched ||
            passwordForm.get('username')?.dirty) &&
          passwordForm.get('username')?.invalid
        "
        id="username"
        formControlName="username"
      />
      <div
        class="invalid-feedback"
        *ngIf="passwordForm.get('username')?.errors?.['required'] && (passwordForm.get('username')?.touched || passwordForm.get('username')?.dirty)"
      >
        Username is required
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="col-form-label">Password</label>
      <div class="input-group">
        <input
          type="{{ showPassword ? 'text' : 'password' }}"
          placeholder="Password"
          [class.is-invalid]="
            (passwordForm.get('password')?.touched ||
              passwordForm.get('password')?.dirty) &&
            passwordForm.get('password')?.invalid
          "
          class="form-control"
          id="password"
          formControlName="password"
        />
        <span class="input-group-text">
          <img
            width="24"
            [src]="
              showPassword
                ? '../../../assets/icons/form/eye-show.svg'
                : '../../../assets/icons/form/eye-hide.svg'
            "
            (click)="showPassword = !showPassword"
          />
        </span>
        <div
          class="invalid-feedback"
          *ngIf="passwordForm.get('password')?.errors?.['required'] && (passwordForm.get('password')?.touched || passwordForm.get('password')?.dirty)"
        >
          Password is required
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer d-flex justify-content-end">
    <button class="btn submit-button">Save</button>
  </div>
</form>
