.header {
    .dropdown {
        .dropdown-toggle::after {
            display: none;
        }

        .dropdown-menu {
            background-color: #FBAB7E;
            background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

            .dropdown-item {
                cursor: pointer;

                &:hover {
                    background-color: #FBAB7E;
                    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
                    color: #fff;
                }
            }
        }
    }
}

.nav-link img {
    border-radius: 20px;
    // margin-top: 20px;

}