<!-- src/app/pages/contact-us/contact-us.component.html -->
<div class="page-container">
  <app-hero
    title="Contact Us"
    bgImage="assets/hero_bg_pol_3.jpg"
    subtitle="Here is what you want family members to know before you graduate into eternity"
  >
  </app-hero>
  <app-nav-bar></app-nav-bar>
  <section class="contact-section" @fadeInOnScroll>
    <div class="container">
      <div class="contact-content">
        <div class="contact-info">
          <!-- <h6>VISIT US</h6> -->
          <h2>Direct support</h2>
          <!-- <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p> -->
          <hr />
          <div class="contact-details">
            <div class="detail">
              <h3>Email Us</h3>
              <p>
                <a [href]="'mailto:POML.Wendy@gmail.com'">
                  {{ "POML.Wendy@gmail.com" }}
                </a>
              </p>
            </div>

            <div class="detail">
              <h3>Call Us</h3>
              <p><a href="tel:9733462740">973-346-2740</a></p>
            </div>
          </div>
        </div>

        <div class="contact-form">
          <h6>SEND US A MESSAGE</h6>
          <h2>Can't find the answer you're looking for?</h2>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
          <hr />
          <form (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Name"
                  [(ngModel)]="contactForm.name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="company">Company</label>
                <input
                  type="text"
                  id="company"
                  name="company"
                  placeholder="Company"
                  [(ngModel)]="contactForm.company"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Email"
                [(ngModel)]="contactForm.email"
                required
              />
            </div>
            <div class="form-group">
              <label for="subject">Subject</label>
              <input
                type="text"
                id="subject"
                name="subject"
                placeholder="Subject"
                [(ngModel)]="contactForm.subject"
                required
              />
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea
                id="message"
                name="message"
                placeholder="Message"
                [(ngModel)]="contactForm.message"
                rows="5"
                required
              ></textarea>
            </div>
            <div class="form-submit">
              <button type="submit" class="gradient-green">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="cta-section cta-bg" @fadeInOnScroll>
    <img
      src="assets/contact-us.jpg"
      alt="Call to Action Background"
      class="cta-bg-img"
    />
    <div class="overlay"></div>
    <div class="container">
      <h2>Get Your Lyfe Journey Now!</h2>
      <div class="cta-buttons">
        <button (click)="scrollToTop('dashboard')" class="cta-btn outline">
          Click Here
        </button>
        <button (click)="scrollToTop('signup')" class="cta-btn solid">
          Sign Up Now
        </button>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
