<div class="container notes p-0">

    <h5 class="pt-4">
        {{year}}
    </h5>

    <ng-container *ngIf="notesList?.length; else noRecords">
        <ng-container *ngFor="let monthList of notesListByMonths">
            <h6 class="text-secondary m-0 mt-3">{{monthList[0]?.note_date | date: 'MMMM'}}</h6>
            <app-notes-card [items]="monthList" (editNote)="openNotePopup($event)" (deleteNote)="openDeleteDialog($event)" [showAll]="true"></app-notes-card>
        </ng-container>
        <!-- <app-notes-card [items]="notesList" (editNote)="openNotePopup($event)" (deleteNote)="openDeleteDialog($event)" [showAll]="true"></app-notes-card> -->
    </ng-container>

    <ng-template #noRecords>
        <div class="text-center my-4">
            No records found
        </div>
    </ng-template>

</div>