<form
  [formGroup]="resetPasswordForm"
  class="resetPasswordForm"
  (submit)="submit()"
>
  <div class="my-2">
    <label for="password" class="col-form-label text-white">New Password</label>
    <div class="input-group">
      <input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Password"
        class="form-control"
        id="password"
        formControlName="password"
      />
      <span class="input-group-text">
        <img
          width="24"
          [src]="
            showPassword
              ? '../../../assets/icons/form/eye-show.svg'
              : '../../../assets/icons/form/eye-hide.svg'
          "
          (click)="showPassword = !showPassword"
          style="cursor: pointer"
        />
      </span>
    </div>
    <div
      class="text-danger"
      *ngIf="resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.errors?.['required']"
    >
      Password is required
    </div>
    <div
      class="text-danger"
      *ngIf="resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.errors?.['minlength']"
    >
      Password must be at least 6 characters
    </div>
  </div>

  <div class="my-2">
    <label for="confirmPassword" class="col-form-label text-white"
      >Confirm Password</label
    >
    <div class="input-group">
      <input
        [type]="showConfirmPassword ? 'text' : 'password'"
        placeholder="Confirm Password"
        class="form-control"
        id="confirmPassword"
        formControlName="confirmPassword"
      />
      <span class="input-group-text">
        <img
          width="24"
          [src]="
            showConfirmPassword
              ? '../../../assets/icons/form/eye-show.svg'
              : '../../../assets/icons/form/eye-hide.svg'
          "
          (click)="showConfirmPassword = !showConfirmPassword"
          style="cursor: pointer"
        />
      </span>
    </div>
    <div
      class="text-danger"
      *ngIf="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.errors?.['required']"
    >
      Confirm password is required
    </div>
    <div
      class="text-danger"
      *ngIf="resetPasswordForm.errors?.['passwordMismatch'] && resetPasswordForm.get('confirmPassword')?.touched"
    >
      Passwords do not match
    </div>
  </div>

  <div class="mt-4">
    <button type="submit" class="btn secondary-button w-100">
      Reset Password
    </button>
  </div>
</form>
