<div class="container credentials p-0">

    <app-add-items-card [items]="addCardItems" (label)="openPasswordDialog($event)"></app-add-items-card>

    <div class="row my-4" *ngIf="credentials && credentials?.length; else noRecords">
        <div class="col-sm-12 col-md-4 col-lg-5 pe-2 pe-lg-5">

            <div class="d-flex justify-content-between align-items-end">
                <h5>All Items</h5>
                <h6>Last Used</h6>
            </div>

            <div class="credential-list">

                <ng-container *ngFor="let item of credentials">
                    <div class="d-flex justify-content-between p-3 list-item" [ngClass]="{'active': item?.id == credentailDetails?.id}" (click)="showDetails(item)">
                        <div class="d-flex">
                            <div class="list-logo me-3">
                            </div>
                            <div class="list-desc my-auto">
                                <h6 class="m-0">
                                    {{item?.domain_name}}
                                    <br>
                                    <small>{{item?.username}}</small>
                                </h6>
                            </div>
                        </div>
                        <div class="list-last-used my-auto">{{item?.last_updated}}</div>
                    </div>
                </ng-container>

            </div>

        </div>

        <div class="col-sm-12 col-md-8 col-lg-7 ps-2 ps-lg-5">

            <div class="credential-details" *ngIf="credentailDetails">

                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <div class="details-logo me-3"></div>
                        <div class="d-flex flex-column justify-content-end">
                            <h6 class="text-white my-1">{{credentailDetails.domain_name}}</h6>
                            <small class="bg-yellow text-blue border-radius-2 p-1 rounded">{{credentailDetails.domain_url}}</small>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-2 gap-md-3 gap-lg-4">
                        <img src="../../../assets/icons/form/delete.svg" class="pointer" (click)="openDeleteDialog(credentailDetails.id)">
                        <a [href]="credentailDetails.domain_url" target="_blank">
                            <img src="../../../assets/icons/form/redirect.svg">
                        </a>
                        <img src="../../../assets/icons/form/fav.svg" class="pointer">
                        <img src="../../../assets/icons/form/edit.svg" class="pointer" (click)="openPasswordDialog(credentailDetails)">
                    </div>
                </div>

                <div class="text-white py-5">
                    <h6 class="text-gray">Website</h6>
                    <div class="mb-4">{{credentailDetails?.domain_url}}</div>
                    <h6 class="text-gray">Username</h6>
                    <div class="mb-4">{{credentailDetails?.username}}</div>
                    <h6 class="text-gray">Password</h6>
                    <div class="d-flex justify-content-between">
                        <div *ngIf="!isPasswordVisible">
                            ********
                        </div>
                        <div *ngIf="isPasswordVisible">
                            {{credentailDetails?.password}}
                        </div>
                        <div class="d-flex align-items-center gap-2 gap-md-3 gap-lg-4">
                            <img width="24" [src]="isPasswordVisible ? '../../../assets/icons/form/eye-show.svg' : '../../../assets/icons/form/eye-hide.svg'" class="pointer" (click)="isPasswordVisible = !isPasswordVisible">
                            <img src="../../../assets/icons/form/copy.svg" class="pointer" (click)="copyPassword(credentailDetails?.password)">
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>

    <ng-template #noRecords>
        <div class="text-center my-4">
            No records found
        </div>
    </ng-template>

</div>