.credentials{
    .credential-list{
        height: calc(5 * 80px);
        overflow-y: hidden;
        &:hover{
            overflow-y: auto;
        }
        /* Scrollbar styling */
        &::-webkit-scrollbar {
            width: 8px; /* Scrollbar width */
        }        
        &::-webkit-scrollbar-track {
            background: #f1f1f1; /* Track color */
            border-radius: 8px; /* Rounded corners for track */
        }        
        &::-webkit-scrollbar-thumb {
            background: #888; /* Thumb color */
            border-radius: 8px; /* Rounded corners for thumb */
        }        
        &::-webkit-scrollbar-thumb:hover {
            background: #555; /* Thumb color on hover */
        }
        .list-item{
            border-radius: 8px;
            &:hover{
                background: #FFC000;
                color: #fff;
            }
            .list-logo{
                width: 48px;
                height: 48px;
                background: #1F4E79;
                border-radius: 4px;
            }
        }
        .active{
            background: #FFC000;
            color: #fff;
        }
    }
    .credential-details{
        background: #1F4E79;
        padding: 24px 48px;
        border-radius: 24px;
        .details-logo{
            width: 80px;
            height: 80px;
            background: #fff;
            border-radius: 16px;
        }
    }
}